

.originBlock{
    width: 1170px;
    margin: 0 auto;
    padding:  0px 100px;
}
.originBlock .desc{
    padding: 64px 0 40px;
    border-bottom: 1px solid rgba(0,0,0,0.08);
}
.originBlock .desc .title{
    /*height:45px;*/
    line-height:45px;
    font-size:32px;
    font-family:PingFangSC-Medium;
    color:rgba(76,81,85,1);
}
.originBlock .desc p{
    font-size:16px;
    line-height:28px;
    font-family:PingFangSC-Regular;
    color:rgba(140,140,140,1);
    margin: 20px auto 15px;
}


.originBlock .case{
    padding: 64px 0 200px;
}
.originBlock .case .title{
    height:45px;
    line-height:45px;
    font-size:32px;
    font-family:Ubuntu-Medium;
    color:rgba(76,81,85,1);
}
.originBlock .case .secTitle{
    height:25px;
    font-size:18px;
    font-family:Ubuntu-Medium;
    color:rgba(76,81,85,1);
    line-height:21px;
    margin-top: 20px;
    font-weight: 600;
}
.originBlock .case p{
    font-size:16px;
    line-height:28px;
    font-family:PingFangSC-Regular;
    color:rgba(140,140,140,1);
    margin: 20px auto 40px;
}
.originBlock .case .list{
    padding-left: 100px;
}
.originBlock .case .list .item{
    position: relative;
    padding-top: 64px;
}
.originBlock .case .list .name{
    height:28px;
    font-size:20px;
    font-family:Ubuntu;
    color:rgba(76,81,85,1);
    line-height:24px;
}
.originBlock .case .list .name:before{
    position: absolute;
    left: -100px;
    content: '';
    width: 28px;
    height: 28px;
    background: url("../images/Group 6@2x.png");
}
.originBlock .case .item:before{
    position: absolute;
    left: -86px;
    content: '';
    width: 1px;
    height: 100%;
    background: #ededed;
}
.originBlock .case .item:last-child:before{
    position: absolute;
    left: -86px;
    content: '';
    width: 1px;
    height: 1px;
    background: #9d9d9d;
}
.originBlock .case .list .info{
    font-size:16px;
    font-family:Ubuntu;
    color:rgba(140,140,140,1);
    line-height:28px;
    margin: 20px 0 15px;
}


