body{
    font-family:'PingFangSC-Regular','微软雅黑';
}
.navWrap{
    box-shadow: 0px 1px 9px 0px rgba(203,208,228,0.2)
}
.navWrap .nav{
    width: 1170px;
    height: 60px;
    margin: 0 auto;
    z-index: 100;
}
.navWrap .nav .logo{
    float: left;
    line-height: 60px;
}
.navWrap .nav .navigation{
    float: right;
}
.navWrap .nav .navigation li{
    float: left;
    height: 60px;
    line-height: 60px;
}
.navWrap .nav .navigation li{
    height: 60px;
    line-height: 60px;
    padding:0 16px;
}
.navWrap .nav .navigation li a{
    display: inline-block;
    color:rgba(187,193,211,1);
    font-size:14px;
    text-decoration: none;
}
.navWrap .nav .navigation li img{
    display: inline-block;
    margin: 0 13px;
}
.navWrap .nav .navigation li a:hover{
    color: #1B76FF;
    text-decoration: none;
    background-color: transparent;
}
.navWrap .nav .navigation li a:link{
    text-decoration: none;
}

.navWrap .nav .navigation li.language{
    width: 121px;
    padding:0 5px;
}
.navWrap .nav .navigation li.language ul{
    display: none;
    overflow: hidden;
}
.navWrap .nav .navigation li.language li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding:0px;
}
.navWrap .nav .navigation li.language li a{
    color: white;
}
.navWrap .nav .navigation li.language li a:hover{
    text-decoration: none;
}
.navWrap .nav .navigation li.language .zh{
    margin-top: 10px;
}
.navWrap .nav .navigation li.language li{
    background-color: rgba(255,255,255,0.4);
}
.navWrap .nav .navigation li.language .active{
    background:rgba(27,118,255,1);
}





.description{
    width: 1170px;
    margin: 0 auto;
    padding-top: 96px;
}
.description .title{
    margin-bottom: 70px;
    text-align: center;
}
.title h3{
    height:48px;
    line-height:48px;
    font-size:34px;
    font-family:PingFangSC-Regular;
    color:rgba(76,81,85,1);
    margin: 0 auto;
    font-weight: normal;
}
.title h3:before{
    vertical-align: 20%;
    display: inline-block;
    content: '';
    width:100px;
    height:1px;
    margin-right: 20px;
    background:rgba(216,216,216,1);
}
.title h3:after{
    vertical-align: 20%;
    display: inline-block;
    content: '';
    width:100px;
    height:1px;
    margin-left: 20px;
    background:rgba(216,216,216,1);
}
.title .sec-title{
    height:25px;
    line-height:26px;
    font-size:22px;
    font-family:Ubuntu;
    color:rgba(197,199,203,1);
    margin: 10px 0 30px;
}

.description .info{
    padding: 0 100px;
    overflow: hidden;
}
.description .info p{
    margin-bottom: 50px;
    font-size:18px;
    font-family:PingFangSC-Regular;
    color:rgba(140,140,140,1);
    line-height:30px;
}
.description .info img{
    display: block;
    margin: 0 auto 35px;
}


.case-box{
    width: 970px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 256px;
}
.case-box .title{
    margin-bottom: 96px;
    text-align: center;
}






.case-box .case{
    margin-right: -35px;
}

.case-box .item{
    position: relative;
    float: left;
    width: 300px;
    height: 300px;
    margin-right: 35px;
    text-align: center;
}
.case-box .item1{
    background: url("../images/pic_case1@2x.png");
}
.case-box .item2{
    background: url("../images/pic_case2@2x.png");
}
.case-box .item3{
    background: url("../images/pic_case3@2x.png");
}
.case-box .item .hover{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    display: none;
}
.case-box .item p{
    height:33px;
    font-size:24px;
    font-family:PingFangSC-Regular;
    color:rgba(255,255,255,1);
    line-height:33px;
    margin-top: 99px;
    margin-bottom: 30px;
}
.case-box .item a{
    display: inline-block;
    width:120px;
    height:40px;
    line-height:40px;
    font-size:16px;
    font-family:PingFangSC-Regular;
    color:rgba(255,255,255,1);
    background:rgba(27,118,255,1);
    text-align: center;
}
.case-box .item:hover .hover{
    display: block;
}


.clearfix:after {
    content: '';
    display: block;
    height: 0;
    font-size: 0;
    visibility: hidden;
    clear: both;
}