body{
    font-family:'PingFangSC-Regular','微软雅黑';
}
.solutionBlock{
    width: 1170px;
    margin: 0 auto;
    padding-top: 96px;
}
.title{
    margin-bottom: 70px;
    text-align: center;
}
.title h3{
    height:48px;
    line-height:48px;
    font-size:34px;
    font-family:PingFangSC-Regular;
    color:rgba(76,81,85,1);
    margin: 0 auto;
    font-weight: normal;
}
.title h3:before{
    vertical-align: 20%;
    display: inline-block;
    content: '';
    width:100px;
    height:1px;
    margin-right: 20px;
    background:rgba(216,216,216,1);
}
.title h3:after{
    vertical-align: 20%;
    display: inline-block;
    content: '';
    width:100px;
    height:1px;
    margin-left: 20px;
    background:rgba(216,216,216,1);
}
.title .sec-title{
    height:25px;
    line-height:26px;
    font-size:22px;
    font-family:Ubuntu;
    color:rgba(197,199,203,1);
    margin: 10px 0 30px;
}

.solutionBlock .info{
    padding: 0 100px;
    overflow: hidden;
}
.solutionBlock .info p{
    margin-bottom: 50px;
    font-size:16px;
    font-family:PingFangSC-Regular;
    color:rgba(140,140,140,1);
    line-height:30px;
}
.solutionBlock .info img{
    display: block;
    margin: 0 auto 35px;
}


.case-box{
    width: 970px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 256px;
}
.case-box .title{
    margin-bottom: 96px;
    text-align: center;
}

.case-box .case{
    margin-left: -18px;
    margin-right: -17px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.case-box .item{
    position: relative;
    width: 300px;
    height: 300px;
    margin-left: 18px;
    margin-right: 17px;
    text-align: center;
}
.case-box .item1{
    background: url("../images/pic_case1@2x.png");
}
.case-box .item2{
    background: url("../images/pic_case2@2x.png");
}
.case-box .item3{
    background: url("../images/pic_case3@2x.png");
}
.case-box .item .hover{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    display: none;
}
.case-box .item p{
    height:33px;
    font-size:24px;
    font-family:PingFangSC-Regular;
    color:rgba(255,255,255,1);
    line-height:33px;
    margin-top: 99px;
    margin-bottom: 30px;
}
.case-box .item a{
    display: inline-block;
    width:120px;
    height:40px;
    line-height:40px;
    font-size:16px;
    font-family:PingFangSC-Regular;
    color:rgba(255,255,255,1);
    background:rgba(27,118,255,1);
    text-align: center;
}
.case-box .item:hover .hover{
    display: block;
}


.clearfix:after {
    content: '';
    display: block;
    height: 0;
    font-size: 0;
    visibility: hidden;
    clear: both;
}

/*时间轴样式*/
.timeAxis{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 200px;
}
.timeAxis .divide{
    width:2px;
    margin-top: 40px;
    background:linear-gradient(180deg,rgba(151,216,255,1),rgba(50,145,255,1));
}
.timeAxis .date{
    height:74px;
    font-size:30px;
    font-family:Ubuntu;
    color:rgba(76,81,85,1);
    line-height:74px;
    margin-bottom: 120px;
    position: relative;
}
.timeAxis .event{
    height:74px;
    font-size:24px;
    font-family:PingFangSC-Regular;
    color:rgba(115,121,156,1);
    line-height:74px;
    margin-bottom: 120px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.timeAxis .event span{
    font-size:24px;
    font-family:PingFangSC-Regular;
    color:rgba(115,121,156,1);
    line-height:33px;
    margin: 0 30px 0 20px;
}
.timeAxis .line{
    width:80px;
    height:1px;
    background:rgba(216,216,216,1);
}
.timeAxis .left{
    text-align: right;
}

.timeAxis .left .date{
    padding-right: 60px;
}
.timeAxis .left .date:after{
    position: absolute;
    top:27px;
    right: -11px;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background:linear-gradient(90deg,rgba(97,196,255,1),rgba(50,145,255,1));
}

.timeAxis .right .date{
    padding-left: 60px;
}
.timeAxis .right .date:after{
    position: absolute;
    top:27px;
    left: -11px;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background:linear-gradient(90deg,rgba(97,196,255,1),rgba(50,145,255,1));
}

.timeAxis .left .event{
    justify-content: flex-end;
}
.timeAxis .right .event{
    justify-content: flex-start;
}










