body{
    font-family:'PingFangSC-Regular','微软雅黑';
}
.navBar{
    position: absolute;
    top:0;
    left:50%;
    width: 1170px;
    height: 60px;
    margin-left: -585px;
    z-index: 100;
}
.navBar .logo{
    float: left;
    line-height: 60px;
}
.navBar .navigation{
    float: right;
}
.navBar .navigation li{
    float: left;
    height: 60px;
    line-height: 60px;
}
.navBar .navigation li{
    height: 60px;
    line-height: 60px;
    padding:0 16px;
}
.navBar .navigation li a{
    display: inline-block;
    color:rgba(187,193,211,1);
    font-size:14px;
    text-decoration: none;
}
.navBar .navigation li img{
    display: inline-block;
    margin: 0 13px;
}
.navBar .navigation li a:hover{
    color: #1B76FF;
    text-decoration: none;
    background-color: transparent;
}
.navBar .navigation li a:link{
    text-decoration: none;
}

.navBar .navigation li.language{
    width: 121px;
    padding:0 5px;
}
.navBar .navigation li.language ul{
    display: none;
    overflow: hidden;
}
.navBar .navigation li.language li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding:0px;
}
.navBar .navigation li.language li a{
    color: white;
}
.navBar .navigation li.language li a:hover{
    text-decoration: none;
}
.navBar .navigation li.language .zh{
    margin-top: 10px;
}
.navBar .navigation li.language li{
    background-color: rgba(255,255,255,0.4);
}
.navBar .navigation li.language .active{
    background:rgba(27,118,255,1);
}
/*banner*/


/*控制banner图小按钮样式设置*/
.carousel-indicators {
    position: absolute;
    bottom: 50px;
    left: 50%;
    z-index: 15;
    width: 1170px;
    padding-left: 0;
    margin-left: -585px;
    text-align: right;
    list-style: none;
    /*background-color: red;*/
}
.carousel-indicators li {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0px;
    text-indent: -999px;
    cursor: pointer;
    border-radius: 0;
    background:rgba(255,255,255,1);
    opacity:0.3347;
}
.carousel-indicators .active {
    width: 24px;
    height: 24px;
    margin: 0;
    background:rgba(50,145,255,1);
    opacity:1;
    border: 3px solid rgb(238, 238, 238);
}

/*控制每张banner图描述内容的样式*/
.alignLeft .carousel-caption{
    text-align: left;
}
.alignLeft .carousel-caption p{
    height:30px;
    line-height:30px;
    font-size:22px;
    font-family:PingFangSC-Regular;
    color:rgba(255,255,255,1);
}

.carousel-caption {
    position: absolute;
    width: 1170px;
    top: 220px;
    left: 50%;
    margin-left: -585px;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 0px;
    text-shadow: none;
}
.carousel-caption h1{
    height:75px;
    line-height:75px;
    font-size:54px;
    font-family:PingFangSC-Medium;
    color:rgba(255,255,255,1);
    margin-top: 0px;
    margin-bottom: 40px;
}
.carousel-caption img{
    margin-bottom: 50px;
}
.carousel-caption p{
    margin: 0 auto 90px;
    height:30px;
    line-height:24px;
    font-size:20px;
    font-family:Ubuntu;
    color:rgba(140,140,140,1);
}

.btn-custom{
    display: inline-block;
    width:186px;
    height:56px;
    line-height: 56px;
    color: #fff;
    background:rgba(50,145,255,1);
    border-radius: 4px;
    font-size:22px;
    font-family:PingFangSC-Regular;
    text-align: center;
}
.btn-custom:hover{
    color: white;
    background:rgba(27,118,255,1);
    text-decoration: none;
}

/*HealthTrace的目标,核心技术优势*/
.adv_Tar{
    background: url("../images/bg_ht@2x.png") no-repeat center;
}
.advantage,.target{
    -webkit-display:flex;
    display:flex;
    -webkit-align-items:center;
    align-items:center;

    width: 1170px;
    margin: 0 auto;
    /*background-color: #f1f1f1;*/
}
.advantage h2,.target h2{
    height:48px;
    line-height:48px;
    margin:0 0 24px 0;
    font-size:34px;
    font-family:PingFangSC-Regular;
    color:rgba(76,81,85,1);
}
.advantage .des p,.target .des p{
    margin: 0;
    font-size:16px;
    color:rgba(140,140,140,1);
    line-height:28px;
}
.advantage{
    height: 420px;
}
.advantage .img{
    width:550px;
}
.advantage .des{
    width:500px;
    margin-left: 120px;
}
.target{
    height: 479px;
}
.target .des{
    width:500px;
    margin-right: 114px;
}
.target .img{
    width:551px;
}



/*为什么选择我们*/
.whyUsWrap{
    background: #fdfdfd url("../images/bg_choose@2x.png") no-repeat bottom center;
}
.whyUs{
    width: 1170px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 100px;
}
.whyUs h3{
    height:48px;
    line-height:48px;
    margin: 0 0 50px 0;
    text-align: center;
    font-size:34px;
    color:rgba(76,81,85,1);
}
.whyUs .list{
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
}
.whyUs .item{
    float: left;
    width: 270px;
    margin-left: 15px;
    margin-right: 15px;
}
.whyUs p{
    font-size:18px;
    line-height:28px;
    font-family:PingFangSC-Regular;
    color:rgba(140,140,140,1);
    text-align: center;
    margin-top: 16px;
    margin-bottom: 0px;
}






/*团队成员*/
.memberWrap{
    width: 100%;
    background: url("../images/bg_team@2x.png") no-repeat top center;
}
.member{
    width: 1170px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    overflow: hidden;
}
.member .list{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background: url("../images/divide.png") no-repeat;
    overflow: hidden;

}
.member .list2{
    padding:0 125px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background: none;
}
.member .item{
    float: left;
    width: 370px;
    /*height: 510px;*/
    /*margin: 0 15px;*/
    padding:70px 35px 38px;
}
.title h3{
    height:48px;
    line-height:48px;
    font-size:34px;
    font-family:PingFangSC-Regular;
    color:rgba(76,81,85,1);
    margin: 0 auto;
}
.title h3:before{
    vertical-align: 20%;
    display: inline-block;
    content: '';
    width:100px;
    height:1px;
    margin-right: 20px;
    background:rgba(216,216,216,1);
}
.title h3:after{
    vertical-align: 20%;
    display: inline-block;
    content: '';
    width:100px;
    height:1px;
    margin-left: 20px;
    background:rgba(216,216,216,1);
}
.title .sec-title{
    height:25px;
    line-height:26px;
    font-size:22px;
    font-family:Ubuntu;
    color:rgba(197,199,203,1);
    margin: 10px 0 30px;
}
.member h4{
    height:34px;
    line-height:35px;
    margin: 40px 0 20px;
    font-size:30px;
    font-family:Ubuntu-Medium;
    color:rgba(76,81,85,1);
}
.member .job{
    height:25px;
    font-size:22px;
    font-family:Ubuntu;
    color:rgba(50,145,255,1);
    line-height:26px;
}
.member p{
    margin: 32px 0 0;
    font-size:16px;
    line-height:30px;
    font-family:PingFangSC-Regular;
    color:rgba(140,140,140,1);
    text-align: left;
}

/*个人支持*/
.supportWrap{
    height: 600px;
    background: url("../images/bg_personal@2x.png") no-repeat top center;
}

.support{
    width: 1170px;
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;
}
.support .title h3{
    color:rgba(255,255,255,1);
}
.support .title .sec-title{
    color:rgba(216,216,216,1);
}
.support .desc .item{
    display: none;
}
.sliderDesc1{
    height:22px;
    line-height:22px;
    margin: 55px auto 30px;
    font-size:16px;
    font-family:PingFangSC-Regular;
    color:rgba(187,193,211,1);
}
.sliderDesc2{
    height:27px;
    font-size:24px;
    font-family:Ubuntu-Medium;
    color:rgba(255,255,255,1);
    line-height:28px;
}

#carousel-example-generic .carousel-inner{
    max-width: 1920px;
    height: 680px;
    margin: 0 auto;
}
#carousel-example-generic .carousel-inner .item{
    width: 1920px;
    height: 680px;
    position: absolute;
    left: 50%;
    margin-left: -960px;
}


/*企业支持*/
.partnerWrap{
    width: 100%;
    background: #fdfdfd url("../images/bg_qiyezhichi@2x.png") no-repeat center;
}
.partner{
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;
    overflow: hidden;
}
.partner .list{
    margin-top: 65px;
    overflow: hidden;
    background: url("../images/border.png") no-repeat top center;
}
.partner .item{
    float: left;
    width: 370px;
    height: 140px;
    margin: 16px 15px;
}

/*新闻中心*/
.news{
    width: 1170px;
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;
}
.news .list{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 50px 0 78px;
    overflow: hidden;
}
.news .list .item{
    width: 570px;
    height: 200px;
    padding-top: 36px;
    display: flex;
    flex-direction: row;
    position: relative;
}
.news .list .item:after{
    content: "";
    width: 1px;
    height: 160px;
    background-color: rgba(0,0,0,0.083);;
    position: absolute;
    right: -1px;
    top:20px;
}
.news .item .left{
    width: 90px;
    text-align: right;
}
.news .item .left .day{
    height:38px;
    font-size:34px;
    font-family:Ubuntu;
    color:rgba(76,81,85,1);
    line-height:39px;
}
.news .item .left .month{
    height:13px;
    font-size:12px;
    font-family:Ubuntu;
    color:rgba(140,140,140,1);
    line-height:13px;
}
.news .item .right{
    width: 680px;
    padding-left: 40px;
    padding-right: 50px;
    text-align: right;
}
.news .item .right .name{
    height:32px;
    font-size:18px;
    font-family:PingFangSC-Medium;
    color:rgba(76,81,85,1);
    line-height:32px;
    text-align: left;
}
.news .item .right .summary{
    margin: 10px 0 6px;
    font-size:14px;
    font-family:PingFangSC-Regular;
    color:rgba(140,140,140,1);
    line-height:22px;
    text-align: left;
}
.news .item .right .detail{
    display: inline-block;
    width:79px;
    height:32px;
    border-radius: 4px;
    font-size:14px;
    font-family:PingFangSC-Regular;
    color:rgba(197,199,203,1);
    line-height:32px;
    border: 1px solid #C5C7CB;
    text-align: center;
}
.news .item .right .detail:hover{
    color:rgba(255,255,255,1);
    background:rgba(160,166,200,1);
    text-decoration: none;
}
/*回到顶部区域*/
.goTop{
    position: fixed;
    bottom:89px;
    right: 100px;
    width: 50px;
    height: 50px;
    background:#fff url("../images/icon_backtotop@2x.png") no-repeat;
    background-size: 50px 50px;
    cursor: pointer;
    z-index: 9999;
    display: none;
}