body{
    font-family:'PingFangSC-Regular','微软雅黑';
}
.navBar{
    position: absolute;
    top:0;
    left:50%;
    width: 1170px;
    height: 60px;
    margin-left: -585px;
    z-index: 100;
}
.navBar .logo{
    float: left;
    line-height: 60px;
}
.navBar .navigation{
    float: right;
}
.navBar .navigation li{
    float: left;
    height: 60px;
    line-height: 60px;
}
.navBar .navigation li{
    height: 60px;
    line-height: 60px;
    padding:0 16px;
}
.navBar .navigation li a{
    display: inline-block;
    color:rgba(187,193,211,1);
    font-size:14px;
    text-decoration: none;
}
.navBar .navigation li img{
    display: inline-block;
    margin: 0 13px;
}
.navBar .navigation li a:hover{
    color: #1B76FF;
    text-decoration: none;
    background-color: transparent;
}
.navBar .navigation li a:link{
    text-decoration: none;
}

.navBar .navigation li.language{
    width: 121px;
    padding:0 5px;
}
.navBar .navigation li.language ul{
    display: none;
    overflow: hidden;
}
.navBar .navigation li.language li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding:0px;
}
.navBar .navigation li.language li a{
    color: white;
}
.navBar .navigation li.language li a:hover{
    text-decoration: none;
}
.navBar .navigation li.language .zh{
    margin-top: 10px;
}
.navBar .navigation li.language li{
    background-color: rgba(255,255,255,0.4);
}
.navBar .navigation li.language .active{
    background:rgba(27,118,255,1);
}
/*banner*/


/*控制banner图小按钮样式设置*/
.carousel-indicators {
    position: absolute;
    bottom: 50px;
    left: 50%;
    z-index: 15;
    width: 1170px;
    padding-left: 0;
    margin-left: -585px;
    text-align: right;
    list-style: none;
    /*background-color: red;*/
}
.carousel-indicators li {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0px;
    text-indent: -999px;
    cursor: pointer;
    border-radius: 0;
    background:rgba(255,255,255,1);
    opacity:0.3347;
}
.carousel-indicators .active {
    width: 24px;
    height: 24px;
    margin: 0;
    background:rgba(50,145,255,1);
    opacity:1;
    border: 3px solid rgb(238, 238, 238);
}

/*控制每张banner图描述内容的样式*/
.alignLeft .carousel-caption{
    text-align: left;
}
.alignLeft .carousel-caption p{
    height:30px;
    line-height:30px;
    font-size:22px;
    font-family:PingFangSC-Regular;
    color:rgba(255,255,255,1);
}

.carousel-caption {
    position: absolute;
    width: 1170px;
    top: 220px;
    left: 50%;
    margin-left: -585px;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 0px;
    text-shadow: none;
}
.carousel-caption h1{
    height:75px;
    line-height:75px;
    font-size:54px;
    font-family:PingFangSC-Medium;
    color:rgba(255,255,255,1);
    margin-top: 0px;
    margin-bottom: 40px;
}
.carousel-caption img{
    margin-bottom: 50px;
}
.carousel-caption p{
    margin: 0 auto 90px;
    height:30px;
    line-height:24px;
    font-size:20px;
    font-family:Ubuntu;
    color:rgba(140,140,140,1);
}

.btn-custom{
    display: inline-block;
    width:186px;
    height:56px;
    line-height: 56px;
    color: #fff;
    background:rgba(50,145,255,1);
    border-radius: 4px;
    font-size:22px;
    font-family:PingFangSC-Regular;
    text-align: center;
}
.btn-custom:hover{
    color: white;
    background:rgba(27,118,255,1);
    text-decoration: none;
}

/*HealthTrace的目标,核心技术优势*/
.advantage,.target{
    -webkit-display:flex;
    display:flex;
    -webkit-align-items:center;
    align-items:center;

    width: 1170px;
    margin: 0 auto;
    /*background-color: #f1f1f1;*/
}
.advantage h2,.target h2{
    height:48px;
    line-height:48px;
    margin:0 0 50px 0;
    font-size:34px;
    font-family:PingFangSC-Regular;
    color:rgba(76,81,85,1);
}
.advantage .des p,.target .des p{
    margin: 0;
    font-size:16px;
    color:rgba(140,140,140,1);
    line-height:28px;
}
.advantage{
    height: 420px;
}
.advantage .img{
    width:550px;
}
.advantage .des{
    width:500px;
    margin-left: 120px;
}
.target{
    height: 479px;
}
.target .des{
    width:500px;
    margin-right: 114px;
}
.target .img{
    width:551px;
}



/*为什么选择我们*/
.whyUs{
    width: 1170px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 80px;
}
.whyUs h3{
    height:48px;
    line-height:48px;
    margin: 0 0 50px 0;
    text-align: center;
    font-size:34px;
    color:rgba(76,81,85,1);
}
.whyUs .list{
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
}
.whyUs .item{
    float: left;
    width: 270px;
    margin-left: 15px;
    margin-right: 15px;
}
.whyUs p{
    font-size:18px;
    line-height:28px;
    font-family:PingFangSC-Regular;
    color:rgba(140,140,140,1);
    text-align: center;
    margin-top: 16px;
    margin-bottom: 0px;
}






/*团队成员*/
.memberWrap{
    width: 100%;
    background-color: #fcfcfc;
}
.member{
    width: 1170px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    overflow: hidden;
}
.member .list{
    margin-left: -15px;
    margin-right: -15px;
    background: url("../images/divide.png") no-repeat;
    overflow: hidden;
}
.member .item{
    float: left;
    width: 370px;
    /*height: 510px;*/
    margin: 0 15px;
    padding:70px 35px 49px;
}
.title h3{
    height:48px;
    line-height:48px;
    font-size:34px;
    font-family:PingFangSC-Regular;
    color:rgba(76,81,85,1);
    margin: 0 auto;
}
.title h3:before{
    vertical-align: 20%;
    display: inline-block;
    content: '';
    width:100px;
    height:1px;
    margin-right: 20px;
    background:rgba(216,216,216,1);
}
.title h3:after{
    vertical-align: 20%;
    display: inline-block;
    content: '';
    width:100px;
    height:1px;
    margin-left: 20px;
    background:rgba(216,216,216,1);
}
.title .sec-title{
    height:25px;
    line-height:26px;
    font-size:22px;
    font-family:Ubuntu;
    color:rgba(197,199,203,1);
    margin: 10px 0 30px;
}
.member h4{
    height:34px;
    line-height:35px;
    margin: 40px 0 20px;
    font-size:30px;
    font-family:Ubuntu-Medium;
    color:rgba(76,81,85,1);
}
.member .job{
    height:25px;
    font-size:22px;
    font-family:Ubuntu;
    color:rgba(50,145,255,1);
    line-height:26px;
}
.member p{
    margin: 32px 0 0;
    font-size:16px;
    line-height:30px;
    font-family:PingFangSC-Regular;
    color:rgba(140,140,140,1);
    text-align: left;
}

/*个人支持*/
.supportWrap{
    height: 600px;
    background: url("../images/bg_personal@2x.png") no-repeat top center;
}

.support{
    width: 1170px;
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;
}
.support .title h3{
    color:rgba(255,255,255,1);
}
.support .title .sec-title{
    color:rgba(216,216,216,1);
}
.support .desc .item{
    display: none;
}
.sliderDesc1{
    height:22px;
    line-height:22px;
    margin: 55px auto 30px;
    font-size:16px;
    font-family:PingFangSC-Regular;
    color:rgba(187,193,211,1);
}
.sliderDesc2{
    height:27px;
    font-size:24px;
    font-family:Ubuntu-Medium;
    color:rgba(255,255,255,1);
    line-height:28px;
}

#carousel-example-generic .carousel-inner{
    max-width: 1920px;
    height: 680px;
    margin: 0 auto;
}
#carousel-example-generic .carousel-inner .item{
    width: 1920px;
    height: 680px;
    position: absolute;
    left: 50%;
    margin-left: -960px;
}


/*企业支持*/
.partner{
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;
    overflow: hidden;
}
.partner .list{
    overflow: hidden;
    background: url("../images/border.png") no-repeat top center;
}
.partner .item{
    float: left;
    width: 370px;
    height: 140px;
    margin: 16px 15px;
}


/*回到顶部区域*/
.goTop{
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 203px;
    margin: 0 auto;
}
.goTop .img{
    position: absolute;
    top:33px;
    right: 100px;
    width: 100px;
    height: 100px;
    background:url("../images/icon_backtotop@2x.png") no-repeat 100% 100%;
    cursor: pointer;
}


/*首页底部*/
.footer{
     width: 100%;
     background-color: #f1f5f8;
 }
.footer .contact{
    -webkit-display:flex;
    display:flex;
    -webkit-align-items:center;
    align-items:center;
    width: 1170px;
    height: 200px;
    margin: 0 auto;
}
.footer .contact .left{
    width: 700px;
    float: left;
}
.footer .contact .left p{
    margin: 20px 0;
    height:25px;
    line-height:25px;
    font-size:18px;
    font-family:PingFangSC-Regular;
    color:rgba(197,199,203,1);
}
.footer .contact .right{
    width: 470px;
    float: right;
}
.footer .contact .right p{
    overflow: hidden;
}
.footer .contact .right a{
    float: right;
    width: 40px;
    height: 40px;
    margin-left: 60px;
}
.facebook{
    background: url("../images/icon_facebook@2x.png");
}
.facebook:hover{
    background: url("../images/icon_facebook_hover@2x.png");
}
.twitter{
    background: url("../images/icon_twitter@2x.png");
}
.twitter:hover{
    background: url("../images/icon_twitter_hover@2x.png");
}
.wechat{
    background: url("../images/icon_wechat@2x.png");
}
.wechat:hover{
    background: url("../images/icon_wechat_hover@2x.png");
}
.github{
    background: url("../images/icon_github@2x.png");
}
.github:hover{
    background: url("../images/icon_github_hover@2x.png");
}
.footer .divide{
    width:1198px;
    height:1px;
    margin: 0 auto;
    background:rgba(224,224,224,1);
}
.footer .copyright{
    width: 1170px;
    height:140px;
    line-height: 140px;
    margin: 0 auto;
    overflow: hidden;
}
.footer .logoBottom{
    float: left;
}
.footer .copyright p{
    float: right;
    font-size:14px;
    color:rgba(197,199,203,1);
}




