.tabs{
    width: 1210px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(237,237,237);;
    overflow: hidden;
    padding: 0 125px;
}
.item{
    float: left;
    width: 160px;
    padding-bottom: 50px;
    /*background: #eeeeee;*/
    text-align: center;
}
.img{
    width:50px;
    height:50px;
    display:inline-block;
    margin: 45px auto;
}
.text{
    display: block;
    height:28px;
    font-size:20px;
    font-family:PingFangSC-Regular;
    color:rgba(197,199,203,1);
    line-height:28px;
    text-align: center;
}